:root {
    --background-color: #061a2d;
    --card: #0B2945;
    --card-light: #103A5C;

    --blue: #1677FF;
    --blue-light: #3B9CFF;
    --blue-bright: #64C7FF;

    --text: #F4F9FF;
    --muted: #91ABC2;
    
    --border: #1B496E;
    
    --green: #228853;
    --red: #bb2635;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    font-family: Ariel, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
    line-height: 1.6;
}

/* ------------------
navagations
-------------------- */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    border-bottom: 1px solid var(--border);
    background: rgba(6, 26, 45, 0.9);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo span {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background: var(--blue);
    color: white;
}

.nav-links {
    color: var(--muted);
    text-decoration: none;
    transition: 0.2s;
}

.nav-links:hover {
    color: white;
}

/* ------------------
herooooo
--------------------- */
.hero {
    min-height: 700px;
    padding: 100px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 70px;
}

.badge {
    display: inline-block;
    padding: 7px 13px;
    border: 1px solid var(--border);
    border-radius: 30px;
    color: var(--blue-bright);
    background: rgba(22, 119, 225, 0.08);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
}

