:root {
    --background-color: #061a2d;
    --card: #0B2945;
    --card-light: #103A5C;

    --blue: #1677FF;
    --blue-light: #3B9CFF;
    --blue-bright: #64C7FF;

    --text: #F4F9FF;
    --muted: #91ABC2;
    
    --border: #1B496E;
    
    --green: #228853;
    --red: #bb2635;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    font-family: Ariel, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
    line-height: 1.6;
}

/* ------------------
navagations
-------------------- */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    border-bottom: 1px solid var(--border);
    background: rgba(6, 26, 45, 0.9);
    position: sticky;
    top: 0;
    z-index: 100;
}